/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.phpunit.cache
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpactor.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
